@model IEnumerable<Application>

@section HeadContent { 
 
}

<h2>Index</h2>
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <th>
                    Application
                </th>
                <th>
                    Users
                </th>
                <th>
                    Roles
                </th>
                <th>
                    Actions
                </th>
            </tr>

        @foreach (var item in Model) {
    
            <tr>
                <td>
                     @(Html.Encode(item.ApplicationName))
                </td>
                <td style="text-align:center;">
                    @(Html.ActionLink(item.UserCount.ToString(), "Index", "Users", new {id=item.ApplicationName, size = 25, page = 1}, null))
                </td>
                <td style="text-align:center;">
                    @(Html.ActionLink(item.Roles.Keys.Count().ToString(), "Index", "Roles", new {id=item.ApplicationName}, null))
                </td>
                <td style="text-align:center;">
                     @(Html.ActionLink("Logs", "Log", new { id = item.ApplicationName, start = DateTime.Now.AddMonths(-1).ToString("d"), end = DateTime.Now.AddDays(1).ToString("d") })) |
                    @(Html.ActionLink("Edit", "Edit", new { id = item.ApplicationName })) | 
                    <a href="" onclick="alert('Applications cannot be deleted through the GUAM interface. Please contact the system owner before modifying any applications.')" >Delete</a>
                    @*
                        <!-- Removing the old delete ActionLink - this functionality should not be used in the GUAM interface. -->
                        (Html.ActionLink("Delete", "Delete", new { id = item.ApplicationName }, new { onclick = "return confirm('Are you sure you want to delete this application and all its users?');"}))
                    *@
                </td>
            </tr>
    
        }

        </table>
        @if (User.IsInRole("Full Administrator")) {
        <p>
            @(Html.ActionLink("Create New", "Create"))
        </p>
        }
    </div>

