@{
    if (@ViewBag.Excel)
    {
        Layout = null;
    }
}

<table class="report">
    <thead>
        <tr>
            <th>Application Name</th>
            <th>Active Application</th>
            <th>Use Custom Password Validation</th>
            <th>Password Minimum Length</th>
            <th>Password Maximum Length</th>
            <th>Special Characters Allowed in Password</th>
            <th>Allow Username in the Password</th>
            <th>Check Password Against Wordlist</th>
            <th>Temporary Password Expiration (in Hours)</th>
            <th>Password Expiration (in Days)</th>
            <th>Password Expiration Warning Window(in Days)</th>
            <th>Password History Minimum Iterations</th>
            <th>Password History Minimum Age (in Days)</th>
            <th>Valid Username Regular expression</th>
            <th>User Attempts Before Lockout</th>
            <th>User Lockout Window</th>
            <th>IP Attempts Before Lockout</th>
            <th>IP Lockout Window</th>
            <th>Number Of Password Reset Questions</th>
            <th>User Lockout Email Recipients</th>
            <th>Inactivity Warning Window</th>
            <th>Lock for Inactivity (in Days)</th>
            <th>Send Daily Expiration Emails</th>
            <th>Send Daily Inactivity Emails</th>
            <th>BCC Send Emails</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Application a in Model)
        {
            <tr>
                <td>@a.ApplicationName</td>
                <td>@a.IsActive</td>
                <td>@a.UseCustomPasswordValidation</td>
                <td>@a.PasswordMinLength</td>
                <td>@a.PasswordMaxLength</td>
                <td>@a.PasswordAllowedSpecialCharacters</td>
                <td>@a.PasswordAllowUsername</td>
                <td>@a.CheckPasswordAgainstWordlist</td>
                <td>@a.TemporaryPasswordExpirationHours</td>
                <td>@a.PasswordExpirationDays</td>
                <td>@a.PasswordExpirationWarningWindow</td>
                <td>@a.PasswordHistoryMinimumIterations</td>
                <td>@a.PasswordHistoryMinimumAgeDays</td>
                <td>@a.ValidUsernameRegex</td>
                <td>@a.UserAttemptsBeforeLockout</td>
                <td>@a.UserLockoutWindow</td>
                <td>@a.IPAttemptsBeforeLockout</td>
                <td>@a.IPLockoutWindow</td>
                <td>@a.NumberOfPasswordResetQuestions</td>
                <td>@a.UserLockoutEmailRecipients</td>
                <td>@a.InactivityWarningWindow</td>
                <td>@a.InactivityDays</td>
                <td>@a.SendDailyExpirationEmails</td>
                <td>@a.SendDailyInactivityEmails</td>
                <td>@a.SendEmailsBCC</td>
            </tr>
        }
    </tbody>
</table>
@if (!ViewBag.Excel)
{
    <a href="?excel=true">Download Excel</a>
}